.secrets/
.idea/
__pycache__/
inventory_backup/
inventory_test/
inventory_/
tmp/
inventory/mainnet.yaml
inventory/testnet.yaml
inventory/group_vars/all.yml
inventory/group_vars/local.yaml
inventory/group_vars/mainnet_validators.yaml
inventory/group_vars/remote.yaml
inventory/group_vars/testnet_validators.yaml
inventory-test/hosts.yml
inventory-test/group_vars/all.yml
roles/monitoring/files/test.py
inventory/group_vars/rpc.yaml
