---

fix:
  solana_user: "{{ solana_user | default('solana') }}"

host:
  validator_name: "{{ validator_name }}"
  vhosts: "{{ host_hosts | default('remote') }}"
  solana_user: "{{ fix.solana_user }}"
  keybase_username: "{{ keybase_username | default('') }}"
  validator_homepage: "{{ validator_homepage | default('') }}"
  upload_validator_keys: "{{ upload_validator_keys | default(True) }}"
  secrets_path: "{{ secrets_path | default('/home/' ~ fix.solana_user ~ '/.secrets', true) }}"
  set_validator_info: "{{ set_validator_info | default(True) }}"
  service_user: "{{ service_user | default(fix.solana_user) }}"
  ledger_path: "{{ ledger_path | default('/mnt/ledger') }}"
  lvm_enabled: "{{ lvm_enabled | default(False) }}"
  lvm_vg: "{{ lvm_vg | default('vg00') }}"
  solana_validator_service: "{{ solana_validator_service | default('restarted')}}"
  swap_file_size_gb: "{{ swap_file_size_gb | default(64) }}"
  ramdisk_size_gb: "{{ ramdisk_size_gb | default(64) }}"
  cluster_environment: "{{ cluster_environment | default ('testnet') }}"
  cluster_rpc_address: "{{ cluster_rpc_address | default('https://api.testnet.solana.com') }}"
  local_secrets_path: "{{ local_secrets_path | default('../.secrets') }}"
  flat_path: "{{ flat_path | default(True) }}"
  snapshots_path: "{{ snapshots_path | default('/mnt/shapshots') }}"

local:
  secrets_path: "{{ host.local_secrets_path }}"
  flat_path: "{{ host.flat_path }}"

cluster:
  environment: "{{ host.cluster_environment }}"
  entrypoint: "{{ host.cluster_environment }}.solana.com"
  rpc_address: "{{ host.cluster_rpc_address }}"

node:
  solana_user: "{{ host.solana_user }}"
  solana_home: "/home/{{ host.solana_user }}"
  swap_file_size_gb: "{{ host.swap_file_size_gb }}"
  ramdisk_path: /mnt/ramdisk
  ramdisk_size_gb: "{{ host.ramdisk_size_gb }}"
  name: "{{host.validator_name}}"
  lvm_enabled: "{{ host.lvm_enabled }}"
  lvm_vg: "{{ host.lvm_vg }}"

validator:
  version: v1.6.9
  ledger_path: "{{ host.ledger_path }}"
  accounts_path: "{{ node.ramdisk_path }}/solana"
  secrets_path: "{{ host.local_secrets_path }}"
  log_file: /var/log/solana-validator.log
  open_solana_ports_start: 8000
  open_solana_ports_end: 10000
  solana_rpc_port: 8899
  upload_validator_keys: "{{ host.upload_validator_keys }}"
  name: "{{ host.validator_name }}"
  homepage: "{{ host.validator_homepage }}"
  keybase_username: "{{ host.keybase_username }}"
  set_validator_info: "{{ host.set_validator_info }}"
  service_user: "{{ host.service_user }}"
  solana_validator_service: "{{ host.solana_validator_service }}"
  fail_if_no_validator_keypair: True
  snapshots_path: "{{ host.snapshots_path }}"

monitoring:
  telegraf_database: v_metrics
  telegraf_urls: http://influx.thevalidators.io:8086
  telegraf_username: v_user
  telegraf_password: thepassword




