[Unit]
Description=Solana {{ cluster_environment }} node
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ solana_user }}
TimeoutStopSec=180
LimitNOFILE=infinity
Environment="PATH=/bin:/usr/bin:{{ env_path }}"
Environment="RUST_LOG={{ log_level }}"
Environment="SOLANA_METRICS_CONFIG=host={{ solana_metrics_url }}"
EnvironmentFile=-/etc/default/solana-validator
ExecStart={{ env_path }}/agave-validator $SOLANA_VALIDATOR_EXTRA_ARGS $SOLANA_REPAIR_CLUSTER_ARGS

[Install]
WantedBy=multi-user.target
