[Unit]
Description=Solana System Tuner Service
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart={{ env_path }}/solana-sys-tuner --user {{ solana_user }}

[Install]
WantedBy=multi-user.target
