[Unit]
Description=Solana {{ cluster.environment }} node
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=solana
LimitNOFILE=1024000
Environment="PATH=/bin:/usr/bin:{{ node.solana_home }}/.local/share/solana/install/active_release/bin"
Environment="SOLANA_METRICS_CONFIG=host=https://metrics.solana.com:8086,db=mainnet-beta,u=mainnet-beta_write,p=password"
Environment="RUST_LOG={{ validator.log_level }}"
ExecStart={{ node.solana_home }}/.local/share/solana/install/active_release/bin/solana-validator \
--entrypoint entrypoint.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint2.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint3.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint4.mainnet-beta.solana.com:8001 \
--entrypoint entrypoint5.mainnet-beta.solana.com:8001 \
--trusted-validator 7Np41oeYqPefeNQEHSv1UDhYrehxin3NStELsSKCT4K2 \
--trusted-validator GdnSyH3YtwcxFvQrVVJMm1JhTS4QVX7MFsX56uJLUfiZ \
--trusted-validator DE1bawNcRJB9rVm3buyMVfr8mBEoyyu73NBovf2oXJsJ \
--trusted-validator CakcnaRDHka2gXyfbEd2d3xsvkJkqsLw2akB3zsN1D2S \
--expected-genesis-hash 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdpKuc147dw2N9d \
--private-rpc \
--rpc-bind-address 127.0.0.1 \
--no-untrusted-rpc \
--limit-ledger-size \
--wal-recovery-mode skip_any_corrupted_record \
--no-port-check \
--rpc-port {{ validator.solana_rpc_port }}  \
--identity {{ validator.secrets_path }}/validator-keypair.json \
--vote-account {{ validator.secrets_path }}/vote-account-keypair.json \
--log {{ validator.log_file }} \
--ledger {{ validator.ledger_path }} \
--accounts {{ validator.accounts_path }} \
--snapshots {{ validator.snapshots_path }} \
--dynamic-port-range {{ validator.open_solana_ports_start }}-{{ validator.open_solana_ports_end }}

[Install]
WantedBy=multi-user.target
