[Unit]
Description=Solana {{ cluster_environment }} node
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ solana_user }}
LimitNOFILE=1024000
Environment="PATH=/bin:/usr/bin:{{ env_path }}"
Environment="SOLANA_METRICS_CONFIG=host={{ solana_metrics_url }}"
ExecStart={{ env_path }}/solana-validator \
--identity {{ secrets_path }}/validator-keypair.json \
{% if not rpc_node %}
--vote-account {{ secrets_path }}/vote-account-keypair.json \
{% endif %}
--rpc-port {{ solana_rpc_port }} \
--full-rpc-api \
--no-untrusted-rpc \
--expected-genesis-hash {{ expected_genesis_hash }} \
--maximum-local-snapshot-age {{ maximum_local_snapshot_age }} \
{% if not extra_params is none %}
{% for extra_var in extra_params %}
{{ extra_var }} \
{% endfor %}
{% endif %}
{% for entrypoint in entrypoints %}
--entrypoint {{ entrypoint }} \
{% endfor %}
{% for known_validator in known_validators %}
--known-validator {{ known_validator }} \
{% endfor %}
{%if 'mainnet_validators' in group_names and not rpc_node %}
--private-rpc \
--rpc-bind-address 127.0.0.1 \
--wal-recovery-mode skip_any_corrupted_record \
--snapshot-compression none \
{% endif %}
{% if rpc_node %}
--no-voting \
--account-index program-id \
--account-index spl-token-mint \
--account-index spl-token-owner \
{% endif %}
--no-port-check \
--limit-ledger-size {{ limit_ledger_size }} \
--log {{ validator_log_path }}/solana-validator.log \
--ledger {{ ledger_path }} \
--accounts {{ accounts_path }} \
--accounts-db-caching-enabled \
--snapshots {{ snapshots_path }} \
--dynamic-port-range {{ open_solana_ports_start }}-{{ open_solana_ports_end }}


[Install]
WantedBy=multi-user.target
