[Unit]
Description=Solana System Tuner Service
After=network.target syslog.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
{% for param, value in sysctl_params.items() -%}
ExecStart=/usr/sbin/sysctl -w {{ param }}="{{value}}"
{% endfor %}

[Install]
WantedBy=multi-user.target
