from common import ValidatorConfig

config = ValidatorConfig(
    validator_name="{{ validator.name }}",
    secrets_path="{{ validator.secrets_path }}",
    local_rpc_address="http://localhost:8899",
    remote_rpc_address="{{ cluster.rpc_address }}",
    cluster_environment="{{ cluster.environment }}",
    debug_mode=False
)
