[agent]
  hostname = "{{ node.name }}" # set this to a name you want to identify your node in the grafana dashboard
  flush_interval = "30s"
  interval = "30s"
  collection_jitter = "10s"
  flush_jitter = "10s"
  metric_buffer_limit = 100000


[[inputs.exec]]
  commands = [
               "sudo -i -u {{ node.solana_user }} {{ node.solana_home }}/monitoring/output_starter.sh output_validators"
             ]
  interval = "300s"
  timeout = "30s"
  json_name_key = "measurement"
  json_time_key = "time"
  tag_keys = ["data_identityPubkey",
              "data_voteAccountPubkey"]

  json_string_fields = ["data_solana_version",
                        "data_cluster_environment",
                        "data_monitoring_version"]

  json_time_format = "unix_ms"

[[inputs.exec]]
  commands = [
               "sudo -i -u {{ node.solana_user }} {{ node.solana_home }}/monitoring/output_starter.sh output_gossip"
             ]
  interval = "300s"
  timeout = "30s"
  json_name_key = "measurement"
  json_time_key = "time"
  tag_keys = ["data_identityPubkey"]

  json_string_fields = ["solana_version",
                        "cluster_environment",
                        "monitoring_version",
                        "data_version",
                        "data_ipAddress"]

  json_time_format = "unix_ms"


##OUPUTS TimeScale
[[outputs.postgresql]]
connection = "host={{ monitoring.ts_host }} user=tsdbadmin password={{ monitoring.ts_password }} sslmode=require dbname=tsdb"
tags_as_foreignkeys = true

